# This is a basic workflow to help you get started with Actions

name: version_check

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  verion_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from the pull request
        uses: actions/checkout@v2

      - name: version check
        run: |
          ls
          ls ./bin/utils/
          chmod +x ./bin/utils/check_version.sh
          cd javascript
          ../bin/utils/check_version.sh
